<!doctype html>
<html>
  <head>
    <link rel="icon" href="/favicon.ico" />
    <title>About <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <header>
      <div class="container">
          <nav>
          <ul> 
              <li><A HREF="/"><span aria-hidden="true"><b>01.</b></span> home</A></li> 
              <li><A HREF="/about"><span aria-hidden="true"><b>02.</b></span> about</A></li> 
              <li><A HREF="/login"><span aria-hidden="true"><b>03.</b></span> login</A></li>
              <li><A HREF="/register"><span aria-hidden="true"><b>04.</b></span> register</A></li>
          </ul>
          </nav>
      </div>
       </header>    
       <h1>About <%=siteName%></h1>
       <div class="container">
         <div class="section left-align">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique senectus et netus et malesuada fames ac turpis. Porta lorem mollis aliquam ut porttitor leo a.</p>
           <p>Ultrices eros in cursus turpis massa tincidunt. Viverra adipiscing at in tellus integer feugiat scelerisque varius. Enim ut tellus elementum sagittis vitae. Donec massa sapien faucibus et molestie ac. </p>
           <p>Vulputate odio ut enim blandit volutpat. Ac odio tempor orci dapibus. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare.</p>
           <p>Suscipit adipiscing bibendum est ultricies integer quis. Vestibulum lectus mauris ultrices eros. Eget nulla facilisi etiam dignissim diam. In dictum non consectetur a erat.</p>
           <p>Amet tellus cras adipiscing enim eu turpis egestas pretium aenean. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing.</p>
         </div>
        </div>
    <footer>
      <div class="footer-nav">
       <ul class = "footer-nav-list">
        <li><A HREF="/sitemap">site map</A></li> 
        <li><A HREF="/privacy">privacy</A></li>
       </ul>
   </div>
   <div class="toggle" onclick="toggleLightMode()" id="modeSwitch"> </div>
   </footer>
  </body>
</html>