<!doctype html>
<html>
  <head>
    <link rel="icon" href="/favicon.ico" />
    <title>About <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <header>
      <div class="container">
          <nav>
          <ul> 
              <li><A HREF="/"><span aria-hidden="true"><b>01.</b></span> home</A></li> 
              <li><A HREF="/about"><span aria-hidden="true"><b>02.</b></span> about</A></li> 
              <li><A HREF="/login"><span aria-hidden="true"><b>03.</b></span> login</A></li>
              <li><A HREF="/register"><span aria-hidden="true"><b>04.</b></span> register</A></li>
          </ul>
          </nav>
      </div>
       </header>    
       <h1>About <%=siteName%></h1>
       <div class="container">
         <div class="section left-align">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tristique senectus et netus et malesuada fames ac turpis. Porta lorem mollis aliquam ut porttitor leo a.</p>
           <p>Ultrices eros in cursus turpis massa tincidunt. Viverra adipiscing at in tellus integer feugiat scelerisque varius. Enim ut tellus elementum sagittis vitae. Donec massa sapien faucibus et molestie ac. </p>
           <p>Vulputate odio ut enim blandit volutpat. Ac odio tempor orci dapibus. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare.</p>
           <p>Suscipit adipiscing bibendum est ultricies integer quis. Vestibulum lectus mauris ultrices eros. Eget nulla facilisi etiam dignissim diam. In dictum non consectetur a erat.</p>
           <p>Amet tellus cras adipiscing enim eu turpis egestas pretium aenean. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing.Mattis vulputate enim nulla aliquet. Urna porttitor rhoncus dolor purus. Non consectetur a erat nam. Pharetra diam sit amet nisl suscipit. Bibendum at varius vel pharetra vel. Commodo elit at imperdiet dui. </p><p>Diam sollicitudin tempor id eu nisl. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Enim eu turpis egestas pretium. Adipiscing enim eu turpis egestas pretium aenean pharetra magna. At elementum eu facilisis sed odio morbi.</p>

            <p>Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. A scelerisque purus semper eget duis at. Eu feugiat pretium nibh ipsum consequat. Sem integer vitae justo eget magna. Velit ut tortor pretium viverra suspendisse potenti. Sit amet justo donec enim. Mollis aliquam ut porttitor leo a diam. Integer vitae justo eget magna fermentum iaculis.</p><p> Ullamcorper sit amet risus nullam. Eu augue ut lectus arcu bibendum at varius. Scelerisque felis imperdiet proin fermentum leo vel orci porta non. Eget mi proin sed libero enim. Amet luctus venenatis lectus magna. Imperdiet sed euismod nisi porta. </p><p>Tristique senectus et netus et malesuada fames ac. Convallis aenean et tortor at risus viverra adipiscing at in. Faucibus purus in massa tempor. Nisl rhoncus mattis rhoncus urna neque viverra. Dictum sit amet justo donec enim diam vulputate ut. Tellus mauris a diam maecenas sed enim ut sem viverra.</p>

         </div>
        </div>
        <footer>
          <div class="footer-nav">
            <div class="left">
           <ul class = "footer-nav-list">
            <h1 class="footer-headers">Discover GFF</h1>
            <li><A HREF="/">investors</A></li> 
            <li><A HREF="/about">about us</A></li>
            <li><A HREF="/">careers</A></li>
            <li><A HREF="/">more</A></li> 
            <li><A HREF="/">gift cards</A></li>
            <li><A HREF="/">careers</A></li>
           </ul>
          </div>
          <div class ="right">
            <ul class = "footer-nav-list">
              <h1 class="footer-headers">Legal</h1>
              <li><A HREF="/sitemap">site map</A></li> 
              <li><A HREF="/privacy">privacy</A></li>
              <li><A HREF="/">cookies</A></li> 
              <li><A HREF="/">modern slavery statement</A></li>
              <li><A HREF="/">tax strategy</A></li> 
              <li><A HREF="/">section 172 statement</A></li>
             </ul>
          </div>
       </div>
       </footer>
  </body>
</html>