<!doctype html>
<html>
  <head>
    <link rel="icon" href="/favicon.ico" />
    <title>Login to <%=siteName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <ul>
            <li><A HREF="/"><span aria-hidden="true"><b>01.</b></span> home</A></li>
            <li><A HREF="/about"><span aria-hidden="true"><b>02.</b></span> about</A></li>
            <li><A HREF="/login"><span aria-hidden="true"><b>03.</b></span> login</A></li>
              <li><A HREF="/register"><span aria-hidden="true"><b>04.</b></span> register</A></li>
          </ul>
        </nav>
      </div>
    </header>
    <h1>Login to <%=siteName%></h1>
    <div class="section left-align">

    <% if (typeof errorMessage !== 'undefined') { %>
        <p style="color: red;"><%= errorMessage %></p>
      <% } %>

      
    <form method="POST" action="/login">
      <p>Email: <input id="email" type="email" name="email" placeholder="email" /></p>
      <p>Password: <input id="password" type="password" name="password" placeholder="password" /></p>
      <input type="submit" value="Login" />
    </form>
    </div>
    <footer>
      <div class="footer-nav">
        <div class="left">
       <ul class = "footer-nav-list">
        <h1 class="footer-headers">Discover GFF</h1>
        <li><A HREF="/">investors</A></li> 
        <li><A HREF="/about">about us</A></li>
        <li><A HREF="/">careers</A></li>
        <li><A HREF="/">more</A></li> 
        <li><A HREF="/">gift cards</A></li>
        <li><A HREF="/">careers</A></li>
       </ul>
      </div>
      <div class ="right">
        <ul class = "footer-nav-list">
          <h1 class="footer-headers">Legal</h1>
          <li><A HREF="/sitemap">site map</A></li> 
          <li><A HREF="/privacy">privacy</A></li>
          <li><A HREF="/">cookies</A></li> 
          <li><A HREF="/">modern slavery statement</A></li>
          <li><A HREF="/">tax strategy</A></li> 
          <li><A HREF="/">section 172 statement</A></li>
         </ul>
      </div>
   </div>
   </footer>
  </body>
</html>
