<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.ico" />
    <title>Sitemap for <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Sitemap</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
    </ul>
  </body>
</html>